@tailwind base;
@tailwind components;
@tailwind utilities;

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
}

@layer base {
    a {
        @apply text-blue-600 hover:underline
    }

    .timeline-start, .timeline-end {
        padding-bottom: 2rem;
    }
}
